<div class = "containerRed">
  <h2>Esqueceu sua senha?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <form>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true , placeholder: 'E-mail',:class => "form-control" , :style => "height:45px;" %>
      </div> <br />

      <div class="actions">
        <%= f.submit "Resetar senha", :class => "btn btn-primary col-sm-12", :style => "height:45px;" %>
      </div>
    </form><br/>
  <% end %>
Já possui uma conta? <%= link_to "Entrar", new_session_path(resource_name) %>
</div>