<!-- Primeira row -->
<div class="row">
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
             <p>Stats</p>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
             <p>Trends</p>
          </div>
        </div>
        
    </div>
    
    <div class="col-xs-6">
        
        <%= render '/utils/redweet_form' %> <br /><br /><br />
        
        <%for @redweet in @redweets %>
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            
            <div class="col-sm-1">
              <img src="/redlogo1.png" class="rounded-img" height="50px" width="50px"></img>
            </div>
            <div class="col-sm-11">
              <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@redweet.user_id).username %>"><%= User.find(@redweet.user_id).username %></a></span> <span class="post-creation">- <%= @redweet.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content"><%= @redweet.content %></p>
            </div>
            
            <div class="col-sm-12">
              <p class="post-links">
                <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                <a href="">Ver conversa</a>
              </p>
            </div>
            
          </div>
        </div>
         <% end %>
        </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
             <p>Sobre</p>
          </div>
        </div>
    </div>
    
</div>

    
 
      

 